
include AUTHORS.rst

include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
include versioneer.py
include pytest_ngsfixtures/_version.py
include pytest_ngsfixtures/*.py
recursive-include pytest_ngsfixtures/data *
